*{
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;
}

.btn-group {
    margin-top: 20px;
}

.btn-group .btn {
    margin: 0px 60px; /* Adjust this value for the desired space */
}
