.container{
    background-color: #e1fbff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
img {
    height: 200px;
    background-color: white;
}
.tvShow{
    background-color: #F16A70;
    height: 220px;
    width: 750px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.daftPunk{
    background-color: #B1D877;
    height: 220px;
    width: 750px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.event{
    background-color: #8CDCDA;
    height: 220px;
    width: 750px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.link{
    padding: 20px;
}