<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play3</title>
</head>
<body>
    <h1 style="text-align: center; max-height: 10vh;padding: 50px;">Welcome!</h1>
    <div style="display: flex; justify-content: space-evenly;flex-wrap: wrap;gap: 20px; width: 100;" >
        {% for c in range (Boxes) %}
        <div style="height: 15em; width: 15em; border: 3px solid black; background-color: {{yourColor}};" ></div>
        {% endfor %}
    </div>
</body>
</html>